html, body {
	height: 100%;
	position: relative;
	width: 100%;
}

::selection {
  background: #000;
  color: #fff;
}

::-webkit-scrollbar-track { background: #333; }
::-webkit-scrollbar {
	background-color: rgba(255,255,255,0);
	width: 15px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,.4);
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0);
  border: 3px solid #333;
}

body {
	box-sizing: border-box;
	color: #333;
	margin: 0;
	padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

a { text-decoration: none; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: rgba(255,255,255,0) !important;
  color: #000 !important;
  box-shadow: 0 0 0 1000px rgba(255,255,255,0) inset !important;
  -webkit-text-fill-color: #000 !important;
  }

main h1 {
  color: #ff3e00;
  font-size: 4em;
  font-weight: 100;
  outline: none;
  text-transform: uppercase;
}
