html, body {
	height: 100%;
	position: relative;
	width: 100%;
}

::selection {
  background: #000;
  color: #fff;
}

::-webkit-scrollbar-track { background: #333; }
::-webkit-scrollbar {
	background-color: rgba(255,255,255,0);
	width: 15px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,.4);
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0);
  border: 3px solid #333;
}

body {
	box-sizing: border-box;
	color: #fff;
	margin: 0;
	padding: 0;
  background: #000 url('assets/shattered.png');
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  animation: backgroundMove 15s infinite alternate;
}

body.dark,
body.dark img,
body.dark .note-full,
body.dark .notes .note {
  filter: invert(1);
}

body.dark img.github,
body.dark img.codepen {
  filter: invert(0);
}

@keyframes backgroundMove {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}

a {
  color: #00c1ff;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #000 !important;
  background-color: rgba(255,255,255,0) !important;
  box-shadow: 0 0 0 1000px rgba(255,255,255,0) inset !important;
  color: #000 !important;
  }

main h1 {
  color: #00c1ff;
  font-size: 4em;
  font-weight: 100;
  margin-top: 0;
  outline: none;
  text-transform: uppercase;
}
