html, body {
	height: 100%;
	position: relative;
	width: 100%;
}

::selection {
  background: #000;
  color: #fff;
}

body {
	box-sizing: border-box;
	color: #333;
	margin: 0;
	padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

a { text-decoration: none; }

main h1 {
  color: #ff3e00;
  font-size: 4em;
  font-weight: 100;
  outline: none;
  text-transform: uppercase;
}
